.slider{
    display: flex;
    border-radius: 12px;
    position: relative;
}

.slide > .slide__img{
    height: 1021px;
    border-radius: 12px 0 0 12px;
}

.slide:nth-child(2n) > .slide__img{
    border-radius: 0 12px 12px 0;
}

.slider__btn-container{
    position: absolute;
    top: 488px;
    width: 100%;
    padding: 0 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.slider__btn{
    width: 42px;
    height: 42px;
    border: 1px solid #595959;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0);
}

.call{
    height: 64px;
    width: 64px;
    border-radius: 50%;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 90px;
    right: 18px;
    display: none;
}

.mobile__menu{
    display: none;
    background: #F5F5F5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 82px;
}

.menu__list{
    height: 290px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.menu__list-item a{
    font-family: 'Calibri';
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-align: center;
    color: #404040;
    text-transform: uppercase;
}

.bottom-menu__list{
    position: absolute;
    bottom: 50px;
    width: 100%;
    display: flex;
    height: 200px;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.bottom-menu__list-item a{
    font-family: 'Calibri';
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #404040;
}

.closeModal {
	position: absolute;
	top: 30px;
	right: 20px;
	width: 24px;
	height: 24px;
	
	cursor: pointer;
  transition: opacity ease 0.5s;

	&:hover {
		opacity: 0.7;
	}
}

.closeModal::before,
.closeModal::after {
	content: '';
	position: absolute;
	top: 10px;
	display: block;
	width: 12px;
	height: 2px;
	background: #404040;
}

.closeModal::before {
	transform: rotate(45deg);
}

.closeModal::after {
	transform: rotate(-45deg);
}

@media(max-width: 1500px){
    .slide > .slide__img{
       height: 100%;
    }

    .slider__btn-container{
        top: 320px;
    }
}

@media(max-width: 1500px){
    .slider__btn-container{
        top: 220px;
    }

}

@media(max-width:  650px){

    .slider{
        display: none;
    }

    .fonimg{
        display: block;
    }

    body{
        background-image: url('../img/fon.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .call{
        display: flex;
    }
}

.active{
    display: block;
}

.myhidden{
    overflow: hidden;
}